@charset "UTF-8";
.button4, .button3, .button2, .button1 {
  width: 100px;
  height: 40px;
  padding: 10px 20px;
  background-color: red;
  color: green;
}

#one {
  background-color: black;
  height: 400px;
  width: 100%;
}

.nav-link {
  color: orange;
  text-decoration: none;
}
.nav-link:hover {
  color: red;
}

.button2 {
  background-color: aqua;
  color: red;
}

.button3 {
  background-color: hsl(0, 100%, 27%);
  color: white;
}

.button4 {
  background-color: indianred;
  color: green;
}

.nav-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  border-width: 1px;
  border-color: red;
  border-style: solid;
}

.nav-ul > li {
  margin-right: 30px;
  border-width: 10px;
  border-color: yellow;
  border-style: dashed;
  /* Завдання організації, особливо рамки і місце навчання кадрів тягне у себе. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  /* or 171% */
  letter-spacing: 0.05em;
  color: red;
}

.nav-ul {
  display: block;
  justify-content: center;
  align-items: center;
}

#two {
  background-color: orange;
  height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: rotateBox 1s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
}

@keyframes rotateBox {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    top: 500px;
    left: 500px;
  }
  100% {
    top: 0;
    left: 0;
  }
}
#three {
  background-color: aqua;
  height: 500px;
  width: 100%;
}

.div {
  width: 100px;
  height: 100px;
  background-color: orange;
  transform: translate(50%, 50%);
  transition: transform 1s cubic-bezier(0.21, 2.03, 0.83, -0.96);
}

.div:hover {
  transform: translate(0%, 0%);
}