#one {
  background-color: black;
  height: 400px;
  width: 100%;
}

.nav-link {
  color: orange;
  text-decoration: none;
}
.nav-link:hover {
  color: red;
}

.button1, .button4, .button3, .button2 {
  width: 100px;
  height: 40px;
  padding: 10px 20px;
  background-color: red;
  color: green;
}

.button2 {
  background-color: aqua;
  color: red;
}

.button3 {
  background-color: hsl(0, 100%, 27%);
  color: white;
}

.button4 {
  background-color: indianred;
  color: green;
}

#two {
  background-color: orange;
  height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: rotateBox 1s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
}

@keyframes rotateBox {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    top: 500px;
    left: 500px;
  }
  100% {
    top: 0;
    left: 0;
  }
}
#three {
  background-color: aqua;
  height: 500px;
  width: 100%;
}

.div {
  width: 100px;
  height: 100px;
  background-color: orange;
  transform: translate(50%, 50%);
  transition: transform 1s cubic-bezier(0.21, 2.03, 0.83, -0.96);
}

.div:hover {
  transform: translate(0%, 0%);
}