body {
  /*  100vh; - вся висота робочої області */
  /* height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; */
}

/* .div {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 400px;
  height: 400px;
  background-color: black;
  color: white;

  margin-top: 400px;
} */

/* before - створи елемент до */
/* after - створи елемент після */

/* За замовчуванням before та after рядкові */

/* .div::before {
  content: "";

  display: block;

  width: 400px;
  height: 400px;

  margin-bottom: 400px;

  background-color: red;

  background-image: url(./bird.jpg);
  background-size: 400px 400px;
  background-position: center;
  background-repeat: no-repeat;
} */

.advantages {
  background-color: blueviolet;
  background-image: url(./background.webp);
  background: rgb(2, 0, 36);
  background: rgb(18, 75, 113);

  /* linear-gradient() - Ми бажаємо створити лінійний градієн, градієнт з точним напрямком */
  background: linear-gradient(
    /* 236 градусів  - Напрям за яким має розвиватись наш градієнт  Напрямок градієнту*/
      /* Вказати напрямок - to right, to left ,to top, to bottom */ to top right,
    rgba(18, 75, 113, 1) 12%,
    yellow 60%
  );
  /* background: rgb(55, 11, 11); */
  /*radial-gradient - колір переливається з середини кола до країв  */
  /* background: radial-gradient(
    circle,
    rgba(55, 11, 11, 1) 8%,
    rgba(185, 31, 31, 1) 31%,
    rgba(3, 27, 85, 1) 40%,
    rgba(85, 26, 154, 1) 56%,
    rgba(132, 8, 199, 1) 70%,
    rgba(255, 0, 137, 1) 74%,
    rgba(103, 13, 59, 1) 94%
  ); */
  padding: 97px 0;
  /* color: aliceblue; */
}

.container {
  width: 1200px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
  padding: 0 15px;

  top: 1782px;

  -webkit-box-shadow: 12px 13px 55px 3px rgba(21, 5, 138, 1);
  -moz-box-shadow: 12px 13px 55px 3px rgba(21, 5, 138, 1);
  box-shadow: 12px 13px 55px 3px rgba(21, 5, 138, 1);
}
.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item {
  width: 300px;
  /* rgba - red, green, blue, alpha- прозорість */
  background-color: rgba(50, 100, 100, 1);
  text-align: center;
  /* OPACITY - ПРОЗОРІСТЬ */

  /* opacity: 0.5; */

  /* background-color: orange; */
}
/* даємо відступи усім лішкам окрім останньої */
.list-item:not(:last-child) {
  margin-right: 30px;
}

/* ::before - рядковий */
/* У рядкових тегів не може бути кастомної або фіксованої ширина або висоти, ширина і висота формуються контентом */
.list-item::before {
  content: "";
  /* Якщо ми хочемо задати фіксовани ширину або висоту ми маємо попросити css зробити елемент блоковим */
  display: block;
  /* Коли елмент стає блоковим нам доступні width та height */
  width: 270px;
  height: 120px;

  background-color: red;

  background-image: url(./bird.jpg);
  background-size: 400px 400px;
  background-position: center;
  background-repeat: no-repeat;
}

.img {
  width: 100%;
  height: 270px;
}

.address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;

  /* color: #ffffff; */
}

.qwe {
  width: 200px;
  height: 200px;
  background-color: yellow;
  /*  text-shadow: ; - для тексту */
  text-shadow: 9px 10px 1px rgb(17, 0, 255);
  /*  box-shadow: ; - для  тіні елемент у  */
  -webkit-box-shadow: 53px -4px 21px -12px rgba(0, 0, 0, 1);
  -moz-box-shadow: 53px -4px 21px -12px rgba(0, 0, 0, 1);
  box-shadow: 53px -4px 21px -12px rgba(0, 0, 0, 1);
}
