/* .red {
  колір тексту буде змінено на червоний
  color: red;
} */

/* селектор атрибуту [] */
/* Збіг значення яке вписуєте має бути 100% */
/* ^ - якщо посилання починається з данного набору символів то стилі буде підключено */
a[href^="https"] {
  color: red;
}

/* селектор сусіда - + */
/* Для того щоб збільшити вагу треба зробити селектор більш спецефічним - більш складним */
ul + p {
  font-size: 24px;
}
/* # id */
#asd {
  background-color: aquamarine;
}
