/* Змінна це коробочка в яку ми можемо покласти дані про колір для того щоб їх запамʼятав компʼютер  */
/* root - корінь */
/* щоб створити змінну нам треба поставити два мінуса після них написати назву */
/* Назва може бути будь-яка (англ літерами) */
:root {
  --active-blue: #2196f3;
}

/* .red {
  колір тексту буде змінено на червоний
  color: red;
} */

/* селектор атрибуту [] */
/* Збіг значення яке вписуєте має бути 100% */
/* ^ - якщо посилання починається з данного набору символів то стилі буде підключено */
/* variables -змінні  */
a[href^="https"] {
  /* var()  дозволяє використовувати змінні*/
  color: var(--active-blue);
}

/* селектор сусіда - + */
/* Для того щоб збільшити вагу треба зробити селектор більш спецефічним - більш складним */
ul + p {
  font-size: 24px;
}
/* # id */
#asd {
  background-color: aquamarine;
}

.link {
  /* red green blue */
  /* максимальне значення для кольору 255 */
  /* color: rgb(255, 255, 255); */

  /* color: #ffffff;
   */
  /* alpha - прозорість */
  color: rgba(255, 255, 255, 0.4);
}

.active {
  font-size: 20px;
}

li a {
  line-height: 50px;
  font-size: 30px;
}

.holder > h1 {
  font-size: 100px;
}
.holder ~ p {
  font-size: 100px;
}

/* 1.селектори
2. Кольори
4.Проговорити про ієрархію,наслідування
5. псевдокласи 
6.підсумки
*/
