.list-item {
  width: 370px;
  height: 404px;
  background-color: black;
}

/* display:flex  -  інструмент щоб ставити елементи в рядок*/
/* display:grid - дозволяє робити невеличкі таблички з стовбчиків та рядків */

.list {
  /* vh - viewport height*/
  /* віддаєте елементу 100% вашої висоти екрану */
  height: 100vh;
  /* vh - viewport width*/
  width: 100vw;
  /* width: 50%;
  height: 50%; */
  background-color: green;
  display: grid;
  /* Скільки має бути колонок та якого розміру */
  /* repeat - повтори */
  /*  */
  grid-template-columns: repeat(3, 370px);
  grid-template-rows: repeat(3, 404px);
  /* row-gap - відступ між рядками */
  row-gap: 30px;
  /* column-gap - відступ між колонками */
  column-gap: 30px;
  /*justify-content: center; - відцентурвати елемент по ширині  */
  justify-content: center;

  /* grid-template-rows: ; */

  /* flex-wrap: wrap; */
}

/* .list-item {
  margin-right: 30px;
  margin-bottom: 30px;
} */

html {
  /* font-size: 16px; */
}

.item-text {
  color: white;

  /* 2rem = 16px * 2 */
  /* rem - це відносна велечина яка розраховується від html елементу (від стилів за замовчуванням)*/
  font-size: 2rem;
}
