/* font-face - опис шрифту */
@font-face {
  font-family: "DM Sans";
  /*font-weight - насиченість кольору  */
  font-weight: 700;

  src: url(./fonts/DMSans-Italic-VariableFont_opsz\wght.ttf) format("ttf");
}
/* . - cелектор класу  */
/* class = . */
/* class="text"(html) = .text(css) */
.text {
  /* font-family - сімейство шрифтів для використання */

  /*  font-family: "Montserrat", sans-serif; - доєднати сімейство шрифтів Montserrat якщо не вишло то підключити сімейство  sans-serif*/
  font-family: "Montserrat", sans-serif;
  /*font-style: - стиль шрифту  */
  font-style: normal;
  /* font-size - розмір шрифту */
  /* font-size: ; */
}

.text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  /*font-weight: може набувати значень від 100 до 900 або буквенних значень  */
  font-weight: 700;
  font-size: 14px;
  /*line-height - висота рядка,відступ між рядками  */
  line-height: 22px;
  /*letter-spacing: - відступ між буквами  */
  letter-spacing: 2px;
  /*  text-transform:  - трансформувати текст (у всі великі букви(uppercase), усі маленькі букви(lowercase), у кожного слова велика буква(capitalize)) */
  text-transform: capitalize;

  color: #212121;
}
