* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* css переходи відпрацьовуються тільки після певної події тригеру(:hover,:active) */

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 300px;
  height: 300px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  transform: scale(1);
  /* це одна з властивостей без якої css-перехід не буде працювати взагалі */
  /* Властивість яку ви будете анімувати  */
  transition-property: background-color, transform;
  /* transition-duration - тривалість анімаціїї (вказується в MS)*/
  /* в 1с - 1000мс */
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.03, 1.8, 0, -0.96);
  /* transition-delay: 1s; */
}

.box:hover {
  background-color: darkorange;
  /* scale , має два параметри збільшення по ширині та висоті */
  /* Якщо ми вказуємотільки один параметр то цей параметр застосовується і до ширини і до висоти */
  /* мінусові значення перевертають верх ногами елемент */
  /* значення за замовчуванням 1 */
  /* transform: scale(-2, -3); */

  /* transform: scale(2); */
  /* rotate - крутити елемент */
  transform: rotate(250deg) scale(2);
}

.white {
  color: white;
  text-align: center;
}
