.about {
  /* gap: ;  - відстань між flex або grid елементами*/
  /* margin - зовнішній відступ(відстум між елементеми) */
  /* padding: ; - внутрішній відступ -  */

  padding-bottom: 94px;
  padding-top: 94px;
  background-color: aqua;
}

/* Ключова задача контейнеру - це вирівнювання контенту по центру екрану користувача */
.container {
  width: 1200px; /* width 1170 + padding-left: 15px; + padding-right: 15px; = 1200px */
  /* margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto; */
  margin: 0 auto; /* 
  0 = margin-top: 0;
  margin-bottom: 0;  
  auto = margin-left: auto;
  margin-right: auto;
  */
  /* padding-left: 15px;
  padding-right: 15px; */
  padding: 0 15px;
  /* padding-top: 0;
  padding-bottom: 0; */
  /*  padding-top: 0;
  padding-bottom: 0; = 0;
   padding-left: 15px;
  padding-right: 15px = 15;
  */
}

.about-list {
  height: 100vh;
  display: flex;

  justify-content: center; /* вирівнювання елементів по ширині */
  /* flex-wrap: ; */
  flex-direction: row-reverse; /* дозволяє змінити напрям елементів в рядок */
  flex-direction: column; /* дозволяє змінити напрям елементів в колонку */
  align-items: center; /* вирівнювання елементів по висоті */
}
