/* Вивчити властивість position,z-index */

/* position - позиціонування елементу відносно сторінки або батьківського елементу */
/* position: static; - значення за замовчуванням */
/* position: fixed;  */
/* position: absolute;  */
/* position: relative;  */
/* relative - магніт */
/* position: relative; - залишає елемент який ми стилюємо на своєму місці */
/* Ми можемо його пересувати за допомгою властивостей left,top,right,bottom */
.div1 {
  width: 200px;
  height: 200px;
  background-color: aqua;
  position: static;
}

/* bottom - відступ знизу */
/* top - відступ зверху */
/* властивості top -right,left , bottom - доступні тілки коли є position окрема від static */
.div2 {
  width: 200px;
  height: 200px;
  background-color: brown;
  /* position: relative; */
  top: 200px;
}

.div3 {
  width: 200px;
  height: 200px;
  background-color: darkviolet;
  position: absolute;
  top: 2220px;
  left: 0;
}
