// .header-nav {
//   color: #ff0000;
//   .nav-ul {
//     color: green;
//     .nav-li {
//       color: blue;
//       .nav-link {
//         color: orange;
//         text-decoration: none;
//       }
//     }
//   }
// }

.nav-link {
  color: orange;
  text-decoration: none;
  //   & = назві селектору у якому ви його використовуєте
  //   & = .nav-link
  &:hover {
    color: red;
  }
  //   &::after {
  //     content: "";
  //   }
}

// .nav-link:hover {
//   color: red;
// }

.button1 {
  @extend %button;
}

.button2 {
  @extend %button;
  background-color: aqua;
  color: red;
}

.button3 {
  @extend %button;
  background-color: hsl(0, 100%, 27%);
  color: white;
}

.button4 {
  @extend %button;
  background-color: indianred;
  color: green;
}

// @mixin flexbox(параметри) {

// }

.nav-ul {
  @include flexbox(flex, center, center);
  list-style: none;
  // border: 1px solid red;
  @include border(1px, solid, red);
}

.nav-ul > li {
  margin-right: 30px;
  @include border(10px, dashed, yellow);
  @include font("Roboto", 400, 14px, 27px, 0.05em, red);
}

.nav-ul {
  @include flexbox(block, center, center);
}
