// .header-nav {
//   color: #ff0000;
//   .nav-ul {
//     color: green;
//     .nav-li {
//       color: blue;
//       .nav-link {
//         color: orange;
//         text-decoration: none;
//       }
//     }
//   }
// }

.nav-link {
  color: orange;
  text-decoration: none;
  //   & = назві селектору у якому ви його використовуєте
  //   & = .nav-link
  &:hover {
    color: red;
  }
  //   &::after {
  //     content: "";
  //   }
}

// .nav-link:hover {
//   color: red;
// }

.button1 {
  width: 100px;
  height: 40px;
  padding: 10px 20px;
  background-color: red;
  color: green;
}

.button2 {
  @extend .button1;
  background-color: aqua;
  color: red;
}

.button3 {
  @extend .button1;
  background-color: hsl(0, 100%, 27%);
  color: white;
}

.button4 {
  @extend .button1;
  background-color: indianred;
  color: green;
}
